*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
    padding: 10px;
    background: #000;
    border: thin solid cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
    /* overflow: visible; */
}

/*-------------left Game Controller Styling -----------------*/
.gameController__container{
    position: absolute;
    /* background: #aaaaaa; */
    top: 15%;
    left: 2%;
    margin: 10px;
    height: 600px;
    padding: 10px;
    width: 10%;
    text-align: center;
}

.btn{
    cursor: pointer;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: sans-serif;
    background: transparent;
    color: cornflowerblue;
    font-weight: 800;
    font-size: 16px;
    border: 1px solid cornflowerblue;
    text-align: center;
    transition: all .1s;
}

.btn:hover{
    box-shadow: 0 0 20px cornflowerblue;
    border: 5px solid cornflowerblue;
    transform: scale(1.1);
}

.btn:active{
    transform: scale(0.9);
}

.incrementGridSize{
    font-size: 60px;
}

.decrementGridSize{
    font-size: 60px;
}
/*-------------left Game Controller Styling end -----------------*/
/*-----------------------right Game Controller Styling -----------------------*/
.rightGameController__container{
    /* background: #aaaaaa; */
    position: absolute;
    right: 2%;
    top: 15%;
    margin: 10px;
    height: 600px;
    padding: 10px;
    width: 10%;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}

input[type=number]:focus{
    box-shadow: 0 0 20px cornflowerblue;
    border: 5px solid cornflowerblue;
}

.changeGridSize{
    background: transparent;
    color: cornflowerblue;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
    border: 5px solid cornflowerblue;
    outline: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

label{
    color: cornflowerblue;
    font-family: sans-serif;
    text-transform: capitalize;
}

.notify{
    color: cornflowerblue;
    font-family: sans-serif;
    text-transform: capitalize;
    position: absolute;
    background: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    top: 0%;
    right: 60%;
    z-index: 10;
    padding: 10px 10px 25px 10px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    visibility: hidden;
    opacity: 0.8;
}

.gridLocation{
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
}

/*-----------------------right Game controller Styling end -----------------------*/
/*--------------------------- game status ----------------------------*/
.game__status{
    color: cornflowerblue;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

.game__status ul{
    list-style: none;
}
/*------------------------ game status end --------------------------*/
.gameHeading{
    color: black;
    text-transform: uppercase;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 900;
    text-shadow: 0 0 10px cornflowerblue;
    width: fit-content;
    position: absolute;
    top: 5%;
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
